# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Build artifacts
build/
dist/
*.spec

# Logs & temp files
*.log
*.tmp

# Virtual environments
.venv/
env/
venv/
ENV/

# OS artifacts
.DS_Store
Thumbs.db
desktop.ini
